body {
  background: #eceff1;
  margin: 0;
  padding: 0;
  text-align: center;
}
#login_content {
  background: white;
  max-width: 360px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}
#login_content h1 {
  font-size: 24px;
  font-weight: bold;
}
#login_content p {
  font-size: 16px;
}
#login_content div {
}
#login_content button {
}
